* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}


  /*685-68=617 height*/

  /*Header*/

header {
  background-color: rgb(64, 78, 237);
  width: 100%;
}

  /*Nav section - green box on lightblue bg*/

.bgnav {
  padding: 15px 0;
  background-color: lightskyblue;
}

.navigation {
  background-color: rgb(186, 201, 59);
  width: 100%;
  max-width:920px;
  margin: auto;
  display:flex;
  justify-content:space-between;
  padding:10px;
  }

  /*download section - pink box on blue bg*/

  .bgdwnld {
    padding:108px;
    display:flex;
    justify-content:center;
  }

  .download {
    background-color: pink;
    width:850px;
    height:400px;
  }

  /*main divs*/

  .gray {
    background-color: rgb(185, 185, 185);
  }

  .div {
    height:617px;
    padding:108px;
    display:flex;
    justify-content:center;
  }

.container {
  width:1200px;
  height:400px;
  display:flex;
}

.last {
  order:1;
}
.first {
  order:-1;
}


.lpink {
  background-color: pink;
  width:30%;
}

.lblue {
  background-color: lightskyblue;
  width:70%;
}

/*Green box*/

.greenboxdiv {
  display:flex;
  justify-content: center;
  height:1200px;
  padding:150px;
}

.gb {
  background-color: green;
  height:900px;
  width:1200px;
}


